.projectMask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    z-index: 9999;      
    .content{
        display: inline-block;
        color: #524e4e;
        font-size: 160px;
        position: relative;
        top: 130px;
        // .description{
        //     display: inline-block;
        // }
        .folderAdd{
            color: #0e77ca;
            cursor: pointer;
            &:hover{
                color: #108ee9;
            }
        }
    }
}