<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/xx.css">
</head>
<body id="test">
      223
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/require.js/2.1.9/require.js"></script>
    <!-- <script src="https://cdn.bootcss.com/template_js/0.7.1/template.js"></script>  -->
    <script type="text/javascript">
        require(['./assets/js/test.js'],function(){
        })
    </script>
</body>
</html>