.action-setting-area{
    padding: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    .ant-form-item-label{
        >label{
            color: #fff;
            font-size: 14px;
        }
    }
    input{
        margin-left: 20px;
        width: calc(100% - 40px);
    }
    .ant-input-group{
        .ant-input{
            width: calc(100% - 40px);
        }
    }
    .ant-form-explain{
        padding: 0 20px;
    }
    .modulName{
        color: #fff;
        font-size: 14px;
        padding-bottom: 8px;
    }
    .functionGroup{
        padding-left: 20px;
        color: #fff;
        >label{
            display: block;
        }
    }
    .ant-radio-group{
        padding-left: 20px;
        span{
            color: #fff;
        }
    }
    .ant-tabs-nav{
        color: #fff;
    }
    .ant-checkbox-wrapper{
        span{
            color: #fff;
        }
    }
    .ant-form-item-control{
        padding: 0 14px;
    }
    .operator{
        padding: 0 16px;
        >button{
            margin-right: 8px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
}