.action-setting-area{
    // padding: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    .ant-tabs-tabpane-active{
        .ant-form {
            .ant-form-item{
                margin-bottom: 10px;
            }
            .ant-form-item-label{
                padding-left: 10px;
                >label{
                    color: #fff;
                    font-size: 12px;
                }
            }
        }
    }
    .ant-tabs-content{
        padding-right: 10px;
    }
    .ant-input-group{
        .ant-form-item{
            .ant-form-item-label{
                text-align: right;
                padding-right: 10px;
            }
        }
    }
    .ant-form-explain{
        padding: 0 20px;
    }
    .modulName{
        padding-left: 10px;
        color: #fff;
        font-size: 14px;
        padding-bottom: 8px;
    }
    .functionGroup{
        padding-left: 20px;
        color: #fff;
        >label{
            display: block;
        }
    }
    .ant-radio-group{
        padding-left: 20px;
        span{
            color: #fff;
        }
    }
    .ant-tabs-nav{
        color: #fff;
    }
    .ant-checkbox-wrapper{
        span{
            color: #fff;
        }
    }
    .operator{
        padding: 0 16px;
        >button{
            margin-right: 8px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    .buttons{
        text-align: center;
    }
    .moduleSetting{
        padding-left: 20px;
    }
     .actionSettingHeader {
        padding-top: 50px;
        .ant-tabs-bar{
            position: absolute;
            // width: 296px;
            margin-top: -50px;
            background-color: #333333;
            z-index: 2;
        }
        .ant-tabs-content{
            // overflow-y: auto;
            // overflow-x: hidden;
            // height: 501px;
        }
    }
}