.action-setting-area{
    overflow-y: hidden;
    overflow-x: hidden;
    .ant-tabs-nav-container-scrolling{
        padding-left: 0;
        padding-right: 0;
    }
    .ant-tabs-tabpane-active{
        .ant-form {
            .ant-form-item{
                margin-bottom: 10px;
            }
            .ant-form-item-label{
                padding-left: 10px;
                >label{
                    color: #fff;
                    font-size: 12px;
                    &[for='choseFunctions']{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .ant-input-group{
        .ant-form-item{
            .ant-form-item-label{
                text-align: right;
                padding-right: 10px;
            }
        }
    }
    .ant-form-explain{
        padding: 0 20px;
    }
    .modulName{
        padding-left: 10px;
        color: #fff;
        font-size: 14px;
        padding-bottom: 8px;
    }
    .functionGroup{
        padding-left: 20px;
        color: #fff;
        >label{
            display: block;
        }
    }
    .ant-radio-group{
        padding-left: 20px;
        span{
            color: #fff;
        }
    }
    .ant-tabs-nav{
        color: #fff;
    }
    .ant-checkbox-wrapper{
        padding-left: 20px;
        span{
            color: #fff;
        }
    }
    .operator{
        padding: 0 16px;
        >button{
            margin-right: 8px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    .buttons{
        text-align: center;
    }
    .moduleSetting{
        padding-top: 20px;
    }
     .actionSettingHeader {
        width: 298px;
        padding-top: 50px;
        .ant-tabs-bar{
            position: absolute;
            width: 100%;
            margin-top: -50px;
            background-color: #333333;
            z-index: 2;
        }
        .ant-tabs-content{
            margin-top: -13px;
        }
        a{
            &.apple, &.android{
                position: relative;
                top: 2px;
                display: inline-block;
                width: 16px;
                height: 16px;
                line-height: 16px;
                margin-right: 8px;
                background-size: 16px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
    .projectSetting{
        overflow-x: hidden;
        overflow-y: auto;
        height: 515px;
        padding-top: 10px;
        padding-right: 10px;
    }
    .buttons{
        .ant-form-item-control-wrapper{
            margin-left: 10px;
        }
    }
    .tabpanel:last-child{
        .ant-tabs-tabpane-active{
            .ant-form{
                .ant-form-item-label{
                    >label{
                        font-size: 14px;
                    }   
                }
            }
        }
    }
    #tplType{
        padding-left: 40px;
    }
}
