
.doc-list{    
    padding: 30px;
    background-color: #ECECEC;
    text-align: center;
    >.ant-row{
        text-align: left;
        >div{
            padding: 8px;
        }
    }
    .ant-pagination{
        display: inline-block;
        margin: 0 auto;
    }
}