
.doc-list{    
    padding: 30px;
    background-color: #ECECEC;
    text-align: center;
    .item-list{
        text-align: left;
    }
    .ant-pagination{
        display: inline-block;
        margin: 15px auto 0;
    }
}