
$action-menu-area-width: 50px;
$action-setting-area-widht: 300px;
$status-bar-area-height: 150px;

body{
    overflow: hidden;
}

#root{
    height: 100%;
}

.app-container{
    position: relative;
    height: 100%;
    .action-menu-area{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: $action-menu-area-width;
        background-color: #404040;
    }
    .main-content-area{
        position: absolute;
        top: 0;
        right: $action-setting-area-widht;
        bottom: $status-bar-area-height;
        left: $action-menu-area-width;
        background-color: rgb(30, 30, 30);
        &[data-type="resource-management"]{
            >div{
                overflow-y: scroll;
            }
        }
        >div{
            height: 100%;
            overflow-y: auto;
        }
        .proxy-list,
        .digital-list{
            >div{
                height: 100%;
            }
        }
        
    }
    .status-bar-area{
        position: absolute;
        right: $action-setting-area-widht;
        bottom: 0px;
        left: $action-menu-area-width;
        height: $status-bar-area-height;
        background-color: rgb(30, 30, 30); 
        .status-bar{
            .opt-btn.delete{
                right: 15px;
            }
        }
    }
    .action-setting-area{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $action-setting-area-widht;
        background-color: rgb(30, 30, 30);
    }
    &[data-layout-type='3']{
        .main-content-area{
            right: 0;
            bottom: 0;          
        }
        .status-bar-area{
            display: none;
        }
        .action-setting-area{
            display: none;
        }
    }
}

::-webkit-scrollbar-track-piece {
    width:10px;
    background-color:#404040; 
    border-radius: 0px;
}

::-webkit-scrollbar{ 
    width:10px;
    height:6px;

}

::-webkit-scrollbar-thumb{
    height:50px;
    background:#007acc; 
    border-radius: 0px;
    cursor:pointer;
}

::-webkit-scrollbar-thumb:hover{
    background:#007acc; 
    border-radius: 0px;
    cursor:pointer
}