.projectMask{
        text-align: center;
        
    .content{
        display: inline-block;
        color: #524e4e;
        font-size: 160px;
        position: relative;
        top: 130px;
        // .description{
        //     display: inline-block;
        // }
        .folderAdd{
            cursor: pointer;
        }
    }
}