.project-list{
    .add-project{
        margin: 10px 20px;
    }
    li{
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        color: #adadad;
        &:hover{
            background-color: #3f3f46;
        }
        &.active{
            color: #fff;
            // background-color: #42a5f5;
            background-color: rgba(0, 122, 204,0.5);
            border-left: 3px solid #49a9ee;
            transition: all .5s;
            -webkit-transition: all .5s;
        }
    }
    .anticon-folder{
        font-size: 24px;
        line-height: 36px;
    }
    .project-info{
        padding-left: 10px;
        >div{
            font-size: 16px;
            max-width: 220px;
            height: 36px;
            line-height: 36px;
            color: #dfdbdb;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .project-list-footer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 20px; 
        color: #f9fcfe;
        height: 22px;
        line-height: 22px;
        background-color: #007acc;
        >div{
            height: 22px; 
            >a{
                color: #f9fcfe;
                margin-right: 5px;
                padding: 0 3px;
                font-size: 16px;
                &:hover{
                    background-color: #1e8ad2;
                }
            }
            &.plf-left{
                float: left;
            }
            &.plf-right{
                float: right;
                >a{
                    font-size: 14px;
                }
            }
        }
    }
}