.project-list{
    .add-project{
        margin: 10px 20px;
    }
    li{
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        color: #adadad;
        &:hover{
            background-color: rgba(39, 65, 84, 0.67);
        }
        &.active{
            color: #fff;
            // background-color: #42a5f5;
            background-color: rgba(0, 122, 204,0.5);
            border-left: 3px solid #49a9ee;
            transition: all .5s;
            -webkit-transition: all .5s;
        }
    }
    .project-list-ul{
        .anticon-folder,.anticon-folder-open{
            font-size: 24px;
            line-height: 36px;
        }
        .anticon-folder-open{
             color: #007acc;
        }
        >li{
            >a{
                display: block;
                width: 32px;
                height: 32px;
                line-height: 40px;
                background-size: 32px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../images/icon-project-folder-normal.png);
                &:hover{
                    padding: 8px;
                    width: 32px;
                    height: 32px;
                    background-size: 24px;
                    background-image: url(../images/icon-project-folder-active.png);
                }
            }
        }
    }
    .project-info{
        padding-left: 6px;
        >div{
            font-size: 16px;
            max-width: 220px;
            height: 36px;
            line-height: 36px;
            color: #dfdbdb;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        input{
            height: 22px;
        }
    }
    .project-list-footer{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding-left: 20px; 
        color: #f9fcfe;
        height: 22px;
        line-height: 22px;
        background-color: #007acc;
        >div{
            height: 22px; 
            a{
                display: inline-block;
                padding: 0 5px;
                font-size: 16px;
                color: #f9fcfe;           
                &:hover{
                    background-color: #0e5d92;
                }
            }
            &.plf-left{
                float: left;
                i{
                    &.folder-add, &.delete, &.setting{
                        display: block;
                        width: 16px;
                        height: 22px;
                        line-height: 22px;
                        background-size: 16px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    &.folder-add{
                        background-image: url(../images/icon-project-addFolder-normal.png);
                    }
                    &.delete{
                        position: relative;
                        top: -1px;
                        background-image: url(../images/icon-project-delete-normal.png);
                    }
                    &.setting{
                        background-image: url(../images/icon-project-setting-normal.png);
                    }
                }
            }
            &.plf-right{
                position: relative;
                float: right;
                margin-right: 10px;
                div{
                    >a{
                        font-size: 14px;
                    }
                    .isRunning{
                        color: #16f586;
                    }
                }
                .runningMask{
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    cursor: not-allowed;
                }
            }
        }
    }
}

.app-container{
    .main-content-area{
        .project-list {
            height: 380px;
        }
    } 
} 