
.proxy-list{
    padding: 30px;
    background-color: #fff;

    .ant-form{
        margin-bottom: 10px;
    }
    .editable-add-btn{
        margin-bottom: 8px;
    }
    .editable-row-operations a {
        margin-right: 8px;
    }
}
::-webkit-scrollbar-track-piece{width:10px;background-color:#4e4e5a ; border-radius: 8px; }

::-webkit-scrollbar{width:10px;height:6px ; }

::-webkit-scrollbar-thumb{height:50px;background:#007acc;   cursor:pointer;border-radius: 8px;}

::-webkit-scrollbar-thumb:hover{background:#007acc; border-radius: 8px;cursor:pointer}