
.status-bar{
    li{ 
        padding: 4px 10px;
        white-space: nowrap;    
        >a{
            color: #fff;
        }
        i{
            margin-right: 5px;
        }
        &.info{
            a{
                color: #49a9ee;
            }        
        }
        &.warning{
            a{
                color: #f56e00;
            }
        }
        &.success{
            a{
                color: #3dbd7d;
            }
        }
        &.error{
            a{
                color: #f4665c;
            }
        }
    }
}