
.status-bar{
    position: relative;
    height: 100%;
    min-height: 70px;
    i{
        &.delete{
            display: block;
            width: 16px;
            height: 22px;
            line-height: 22px;
            background-size: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../images/icon-project-delete-normal.png);
        }
    }
    .opt-btn.delete{
        position: absolute;
        top: 5px;
        right: 25px;
        color: #fff;
        font-size: 16px;
        &:hover{
            color: #c4e0d2;
        }
    }
    >div{
        height: 100%;
        overflow-y: scroll;
    }
    ul{
        padding: 8px;
    }
    li{ 
        padding: 4px 10px;
        white-space: nowrap;    
        >a{
            color: #fff;
        }
        i{
            margin-right: 5px;
        }
        &.info{
            a{
                color: #49a9ee;
            }        
        }
        &.warning{
            a{
                color: #f56e00;
            }
        }
        &.success{
            a{
                color: #3dbd7d;
            }
        }
        &.error{
            a{
                color: #f4665c;
            }
        }
    }
}